@font-face {
    font-family: 'Monserrat';
    src: url("../font/Montserrat/Montserrat-VariableFont_wght.ttf");
}
*{
    font-family: 'Monserrat';
}
p{
    font-weight: bolder;
}
h1, h2{
    text-align: center;

}
main{
    margin: -20px 30px 20px 30px;
    background-image: url('../img/banner\ 4\ -\ fundo.png');
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.534);
}
img#aju{
    margin:20px 470px 20px 470px;
    height: 25%;
    width: 25%;
}
div#conteudo{
    margin: 50px 50px 20px 50px;
    background-color: #b9d23975;
    padding: 5px;
    font-size: bold;
    border-radius: 15px;
}
img#vol{
    padding-top: 20px;
    margin-top: -40px;
    margin: -30px 600px 20px 600px;
    height: 3.7%;
    width: 3%;
}